altgraph==0.17.5
certifi==2026.7.22
charset-normalizer==3.5.1
defusedxml==0.7.1
idna==3.20
libpass==1.9.3
packaging==26.3
pefile==2024.8.26
pika==1.4.4
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.7
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2026.3.post1
pywin32-ctypes==0.2.3
Radicale==3.7.8
requests==2.34.2
setuptools==84.0.0
six==1.17.0
tzdata==2026.4
urllib3==2.8.0
vobject==0.9.9
